body{
background:#0f1117;
color:white;
font-family:Segoe UI;
margin:0;
}

.container{
max-width:900px;
margin:auto;
padding:30px;
}

h1{
text-align:center;
}

select,
input,
button,
textarea{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:none;
}

textarea{
height:400px;
font-family:Consolas;
}